@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    border: 0;
}
ol, ul {
    list-style: none;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.flex{display: flex;}
.row{flex-direction: row;}
.column{flex-direction: column;}
.center{justify-content: center;}
.between{justify-content: space-between;}
.around{justify-content: space-around;}
.end{justify-content: flex-end;}
.start{justify-content: flex-start;}
.row-reverse{flex-flow: row-reverse wrap}
input{
    outline: none;
}
